@model GAILFileManagementSystem.Models.Files

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Files</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FILE_NAME)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FILE_NAME)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FILE_TYPE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FILE_TYPE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DESCRIPTION)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DESCRIPTION)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OPEN_DATE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OPEN_DATE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CLOSED_DATE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CLOSED_DATE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.STATUS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.STATUS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SNO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SNO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CONTRACT_NUMBER)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CONTRACT_NUMBER)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CONTRACT_SUBJECT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CONTRACT_SUBJECT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CONTRACT_DESCRIPTION)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CONTRACT_DESCRIPTION)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.START_DATE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.START_DATE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.END_DATE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.END_DATE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CONTRACT_TYPE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CONTRACT_TYPE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vendor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vendor.CONTACT_EMAIL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VENDOR_NAME)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VENDOR_NAME)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VENDOR_ADDRESS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VENDOR_ADDRESS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CONTACT_PERSON)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CONTACT_PERSON)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CONTACT_NUMBER)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CONTACT_NUMBER)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CONTACT_EMAIL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CONTACT_EMAIL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location.L_ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LOCATION_NAME)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LOCATION_NAME)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SUBLOCATION_ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SUBLOCATION_ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SUBLOCATION_NAME)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SUBLOCATION_NAME)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GSTN_NO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GSTN_NO)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FILE_ID">Edit</a> |
    <a asp-action="GenerateConsolidatedReport">Back to List</a>
</div>
