@model IEnumerable<GAILFileManagementSystem.Models.Files>

@{
    ViewData["Title"] = "Filesss";
}

<h1>Filesss</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FILE_TYPE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DESCRIPTION)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OPEN_DATE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CLOSED_DATE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CONTRACT_NUMBER)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VENDOR_NAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VENDOR_ADDRESS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.STATUS)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FILE_TYPE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DESCRIPTION)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OPEN_DATE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CLOSED_DATE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CONTRACT_NUMBER)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VENDOR_NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VENDOR_ADDRESS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.STATUS)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FILE_ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FILE_ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FILE_ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
