@model IEnumerable<GAILFileManagementSystem.Models.Files>

@{
    ViewData["Title"] = "GenerateConsolidatedReport";
}

<h1>GenerateConsolidatedReport</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FILE_NAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FILE_TYPE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DESCRIPTION)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OPEN_DATE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CLOSED_DATE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.STATUS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SNO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CONTRACT_NUMBER)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CONTRACT_SUBJECT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CONTRACT_DESCRIPTION)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.START_DATE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.END_DATE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CONTRACT_TYPE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VENDOR_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VENDOR_NAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VENDOR_ADDRESS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CONTACT_PERSON)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CONTACT_NUMBER)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CONTACT_EMAIL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LOCATION_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LOCATION_NAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SUBLOCATION_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SUBLOCATION_NAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GSTN_NO)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FILE_NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FILE_TYPE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DESCRIPTION)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OPEN_DATE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CLOSED_DATE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.STATUS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SNO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CONTRACT_NUMBER)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CONTRACT_SUBJECT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CONTRACT_DESCRIPTION)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.START_DATE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.END_DATE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CONTRACT_TYPE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VENDOR_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VENDOR_NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VENDOR_ADDRESS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CONTACT_PERSON)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CONTACT_NUMBER)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CONTACT_EMAIL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LOCATION_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LOCATION_NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SUBLOCATION_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SUBLOCATION_NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GSTN_NO)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FILE_ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FILE_ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FILE_ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
