@model IEnumerable<FILESMGMT.Models.Contract>

@{
    ViewData["Title"] = "GenerateReport2";
}

<h1>GenerateReport2</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ContractNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContractSubject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContractDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContractType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ContractNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContractSubject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContractDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContractType)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.sno">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.sno">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.sno">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
