@model GAILFileManagementSystem.Models.CombinedModel

@{
    ViewData["Title"] = "GenerateReport";
}

<div style="background-color: #BDE3FF; height: 50px; display: flex; justify-content: center; align-items: center; border-radius: 8px; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);">
    <p style="text-align: center; font-size: 30px; margin: 0;">Generate Report</p>
</div>


<p>
    <a asp-action="Create">Create New</a>
</p>

<h2>Vendors</h2>
<table class="table">
    <thead>
        <tr>
            @* <th>
                @Html.DisplayNameFor(model => model.Files.First().FILE_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Files.First().FILE_NAME)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Vendors.First().VENDOR_NAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vendors.First().VENDOR_ADDRESS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vendors.First().CONTACT_PERSON)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vendors.First().CONTACT_NUMBER)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vendors.First().CONTACT_EMAIL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contracts.First().SNO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contracts.First().CONTRACT_NUMBER)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contracts.First().CONTRACT_SUBJECT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contracts.First().CONTRACT_DESCRIPTION)
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @* @foreach (var file in Model.Files)
            {
                <td>
                    @Html.DisplayNameFor(model => model.Files.First().FILE_ID)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Files.First().FILE_NAME)
                </td>
            } *@
        @foreach (var vendor in Model.Vendors)
        {
                <td>
                    @Html.DisplayFor(modelItem => vendor.VENDOR_NAME)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => vendor.VENDOR_ADDRESS)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => vendor.CONTACT_PERSON)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => vendor.CONTACT_NUMBER)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => vendor.CONTACT_EMAIL)
                </td>
        }
        @foreach (var contract in Model.Contracts)
        {
                <td>
                    @Html.DisplayFor(modelItem => contract.CONTRACT_NUMBER)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => contract.CONTRACT_SUBJECT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => contract.CONTRACT_DESCRIPTION)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@contract.SNO">Edit</a> |
                    <a asp-action="Details" asp-route-id="@contract.SNO">Details</a> |
                    <a asp-action="Delete" asp-route-id="@contract.SNO">Delete</a>
                </td>
        }
        </tr>
    </tbody>
</table>

@* @model IEnumerable<GAILFileManagementSystem.Models.Vendor>
@model IEnumerable<GAILFileManagementSystem.Models.Contract>
 *@

@* @model GAILFileManagementSystem.Models.CombinedModel

@{
    ViewData["Title"] = "GenerateReport";
}
 *@
@* <h1>GenerateReport</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Vendors.First().VENDOR_NAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vendors.First().VENDOR_ADDRESS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vendors.First().CONTACT_PERSON)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vendors.First().CONTACT_NUMBER)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vendors.First().CONTACT_EMAIL)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VENDOR_NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VENDOR_ADDRESS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CONTACT_PERSON)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CONTACT_NUMBER)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CONTACT_EMAIL)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VENDOR_ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VENDOR_ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VENDOR_ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
 *@